.row.selections.addnl-info
	.col-xs-12.text-center.info-container
		.info.col-xs-12.col-sm-4 
			a(href='#tab-1').tab-link Testimonials
		.info.col-xs-12.col-sm-4 
			a(href='#tab-2').tab-link Shaving Products
		.info.col-xs-12.col-sm-4 
			a(href='#tab-3').tab-link About Us
		//- .info.col-xs-12.col-sm-4 &nbsp;
		//- .info.col-xs-12.col-sm-4 &nbsp; 
		//- .info.col-xs-12.col-sm-4 &nbsp; 
	.close-detail
		button(type="button" aria-label="Left-Align").btn.btn-default.text-center
			span(aria-hidden="true").glyphicon.glyphicon-remove 
			|  CLOSE
	.detail-text#tab-1
		h3 
			| Testimonials
		p 
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			| Fuga possimus explicabo veniam nobis, est quibusdam quas, 
			| expedita pariatur illum rem necessitatibus fugit deleniti dolore, 
			| quasi dignissimos minima itaque, aut cumque.
	.detail-text#tab-2
		h3 
			| Shaving Products
		p 
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			| Fuga possimus explicabo veniam nobis, est quibusdam quas, 
			| expedita pariatur illum rem necessitatibus fugit deleniti dolore, 
			| quasi dignissimos minima itaque, aut cumque.
	.detail-text#tab-3
		h3 
			| About Us
		p 
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
			| Fuga possimus explicabo veniam nobis, est quibusdam quas, 
			| expedita pariatur illum rem necessitatibus fugit deleniti dolore, 
			| quasi dignissimos minima itaque, aut cumque.	

