footer 
	.container
		.row
			.col-xs-12.text-center
				.col-xs-12.col-sm-4
					| The Cutlery
				.col-xs-12.col-sm-4
					| 243 Sullivan Rd, London, SE11 4UH <br>
					| 0701 214 2148 <br>
					| contact@the-cutlery.com
				.col-xs-12.col-sm-4
					a(href="#") 
						| Twitter <br>
					a(href="#") 
						| Facebook	
