include ./vars.jade
.prices-section.selections
	.row
		h2.col-xs-offset-1.col-xs-11.col-sm-6.col-sm-offset-0.text-uppercase 
			span Prices
		.col-xs-offset-1.col-xs-10.col-sm-6.col-sm-offset-0.col-md-4.col-lg-4
			ul.leaders
				li 
					span Clipper Cut
					span &pound;9
				li 
					span Dry Cut
					span &pound;13
				li 
					span Wash & Cut
					span &pound;16
				li 
					span Beard Trim
					span &pound;4
				li 
					span Hot Towel Shave Basic 
					span &pound;12
				li 
					span Basic Cut
					span &pound;8
				li 
					span Style Cut 
					span &pound;11	
.open-times-section.selections
	.row
		h2.col-xs-offset-1.col-xs-11.col-sm-6.col-sm-offset-0.col-sm-push-6.text-uppercase
			span Opening Times
		.col-xs-offset-1.col-xs-10.col-sm-6.col-sm-offset-0.col-sm-pull-6.col-md-4.col-md-offset-2.col-lg-4
			ul.leaders
				li 
					span Monday
					span 11am -5pm
				li 
					span Tuesday
					span 10am - 5pm
				li 
					span Wednesday
					span 10am - 5pm
				li 
					span Thursday
					span 10am - 5pm			
				li 
					span Friday
					span 9am - 6pm			
				li 
					span Saturday
					span 9am - 6pm			
				li 
					span Sunday
					span Closed		
.location-section.selections
	.row
		h2.col-xs-offset-1.col-xs-11.col-sm-6.col-sm-offset-0.text-uppercase 
			span Location
		.col-xs-offset-1.col-xs-10.col-sm-6.col-sm-offset-0.col-md-5.col-lg-5 		
			p 
				address
					| 243 Sullivan Rd, London, SE11 4UH
		#map-canvas.col-xs-10.col-xs-offset-1
			