-var business = {"bName":"The Cutlery","tagline":"No Appointment Necessary","phone":"020 7946 0128","email":"howareyou@thecutlery.com"}
-var prices = {"style":"Clipper Cut","cost":"£9","style":"Dry Cut","cost":"£13","style":"Wash & Cut","cost":"£16","style":"Beard Trim","cost":"£4"}